<div id="accordion">
    <div class="card">
        <div class="card-header" id="heading-1">
            <h5 class="mb-0">
                <a role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="true"
                    aria-controls="collapse-1">
                    Edit information
                </a>
            </h5>
        </div>
        <div id="collapse-1" class="collapse show" data-parent="#accordion" aria-labelledby="heading-1">
            <div class="card-body">

                <div id="accordion-1">
                    <div class="card">
                        <div class="card-header" id="heading-1-1">
                            <h5 class="mb-0">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-1-1"
                                    aria-expanded="false" aria-controls="collapse-1-1">
                                    Edit Email
                                </a>
                            </h5>
                        </div>


                        <div id="collapse-1-2" class="collapse" data-parent="#accordion-1"
                            aria-labelledby="heading-1-2">
                            <div class="card-body">
                                
                                <form method="POST">
                                    <div class="complete">
                                    <div class="form-group">
                                      <!-- <label for="email">Email Address</label> -->
                                      <input
                                        type="email"
                                        class="form-control"
                                        id="email"
                                        name="email"
                                        placeholder="Enter new email"
                                      />
                                    </div>
                                </div>
                                </form>

                            </div>
                        </div>


                    </div>
                    <div class="card">
                        <div class="card-header" id="heading-1-2">
                            <h5 class="mb-0">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-1-2"
                                    aria-expanded="false" aria-controls="collapse-1-2">
                                    Edit Name
                                </a>
                            </h5>
                        </div>
                        <div id="collapse-1-2" class="collapse" data-parent="#accordion-1"
                            aria-labelledby="heading-1-2">
                            <div class="card-body">
                                
                                <form method="POST">
                                    <div class="complete">
                                    <div class="form-group">
                                      <!-- <label for="email">Email Address</label> -->
                                      <input
                                        type="name"
                                        class="form-control"
                                        id="name"
                                        name="name"
                                        placeholder="Enter new name"
                                      />
                                    </div>
                                </div>
                                </form>

                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="heading-1-2">
                            <h5 class="mb-0">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-1-2"
                                    aria-expanded="false" aria-controls="collapse-1-2">
                                    Edit Password
                                </a>
                            </h5>
                        </div>
                        <div id="collapse-1-2" class="collapse" data-parent="#accordion-1"
                            aria-labelledby="heading-1-2">
                            <div class="card-body">
                                
                                <form method="POST">
                                    <div class="complete">
                                    <div class="form-group">
                                      <!-- <label for="email">Email Address</label> -->
                                      <input
                                        type="name"
                                        class="form-control"
                                        id="name"
                                        name="name"
                                        placeholder="Enter new name"
                                      />
                                    </div>
                                </div>
                    
                                    <div class="complete">
                                    <div class="form-group">
                                      <!-- <label for="email">Email Address</label> -->
                                      <input
                                        type="name"
                                        class="form-control"
                                        id="name"
                                        name="name"
                                        placeholder="Enter new name"
                                      />
                                    </div>
                                </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>