{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}">
<link rel="stylesheet" href="static/css/footer.css">
{% endblock %}

{% block title %}
{{ movie['title'] }}
{% endblock %}

{% block content %}

    {% set name = movie['title'] %}
    {% set id = movie['id'] %}
    {% set imdb_id = movie.json_data['id']%}
    {% set data = movie.json_data %}

     <style>
         *{
             overflow-x: hidden;
             /* font-family: Arial, Helvetica, sans-serif; */
             /* overflow-y: scroll; */
         }
         #box1 {
             /* border: solid 2px red !important; */
             width: 30vw;
             /* height: fit-content; */
             /* height: 35%; */
             /* opacity: 1.5; */
         }
         #main {
             /* border: solid 2px wheat; */
             display: flex;
             flex-direction: row !important;
             width: 100vw;
             height: 90vh;
             background-image: url(../static/images/{{imdb_id}}.jpg);
             background-size:contain;
             background-repeat: no-repeat;
             margin-top: 10px;
          /* overflow-y: scroll; */
 
         }
         .mainl {
             /* border: solid 2px red; */
             width: 35%;
         }
         .mainr {
             /* border: solid 2px green; */
             display: flex;
             flex-direction: column !important;
             width: 40%;
         }
         .mainru {
             /* border: solid 2px yellow; */
             height: fit-content;
             padding: 25px;
             /* overflow-y:hidden; */
         }
         .mainrm {
             /* border: solid 2px yellow; */
             height: fit-content;
             padding: 25px;
         }
         .mainrd {
             /* border: solid 2px yellow; */
             height: fit-content;
             padding: 25px;
             
            
         }
         .mainre {
             display: flex;
             padding-left: 25px;

         }
         .genpara  {
            padding-left: 25px;
            /* padding-top: 3px; */
         }
         #starpara {
             color: gold;
         }
         mark {
             color: gold;
             background-color: #201c1c;
          
         }
         mark::-webkit-scrollbar {
  display: none;
}
.button {
  background-color: red;
  border: none;
  color: white;
  width: 33%;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button:hover{
  color:black;
}
         
     </style>

     <!-- <div class="container">
        <div  class="imageholder">
            <div class="text">
             <div > <img class="cat" id="box1"
               src="/static/images/imgs/{{id}}.jpg"
               alt="{{name}}">
            </div>
            </div>
        </div>
    </div> -->

        <div id="main">
               <div class="mainl"></div>
               <div class="mainr">
                       <div class="mainru"><h1>{{name}}</h1>
                    <h3>{{data['release_date'][-4:]}}</h3> 
                <h3>IMDB RATING : {{data['rating']}} <mark>&starf;</mark></h3></div>
                        <div class="mainrd"><mark>SYNOPSIS:</mark> {{data['img_caption']}}</div>
                       <!-- <div class="mainrm"><mark>CAST:</mark> Robert Downey Jr. · Chris Evans · Mark Ruffalo · Chris Hemsworth · Scarlett Johansson · Jeremy Renner · Tom Hiddleston · Clark Gregg.</div> -->
                       <div class="mainrd"><mark>PLOT:</mark> {{data['summary']}} </div>
                       <div class="mainrd"><mark>RUNTIME:</mark> {{data['runtime']}}</div>
                       <div class="mainrd"><mark>RENT PRICE:</mark> {{movie.rent_cost}}</div>
                       <div class="mainrd"><mark>BUY PRICE:</mark> {{movie.buy_cost}}</div>
                       <p class="genpara"> <mark>GENRE:</mark>
                       {% for gen in data['genres'] %}
                          {{gen}} &emsp14;
                        {% endfor %}
                        </p>

                        <form method="POST">

                            <div class="form-group">
                                <div class="dropdown">
                                  <select name="type" id="cred">
                                    <option value="Customer"><h5>Buy</h5></option>
                                    <option value="Staff"><h5>Rent</h5></option>
                                  </select>
                                </div>
                                </div>
                            

                        <div class="mainre">
                        <button type="submit" class="button"><b>Add to cart</b></button>
                        </div>
                        </form>
                      
               </div>
            
        </div>

    
    <!-- <img class="cat" src="../static/images/imgs/{{id}}.jpg" alt="{{name}}"> -->
    <br>

    

{% endblock %}