{% extends "base.html" %} {% block title %}Profile{% endblock %} 

{% block css %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/accordion.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css')}}">


{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <br>
            <h1>Profile</h1>
            <hr>

            <div class="card">
                <div class="card-body">

                    <h4>Name :- {{ user.first_name }}</h4>
                    <hr>

                    {% if user %}
                    <p><b>Email :- {{user.email}}</b></p>

                        {% if user.cred == 1%}
                        <p><b>Credential :- Customer</b></p>

                        {% elif user.cred == 2%}
                        <p><b>Credential :- Staff</b></p>

                        {% else %}
                        <p><b>Credential :- Manager</b></p>
                        {% endif %}

                    <p><b>Address :- {{user.address}}</b></p>
                    {% else %}
                    <p>User not found</p>
                    {% endif %}

                </div>
            </div>

            <div id="accordion">
              <div class="card">
                <div class="card-header" id="heading-1">
                  <h5 class="mb-0">
                    <a class="collapsed1" role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
                      Edit Information
                    </a>
                  </h5>
                </div>
                <div id="collapse-1" class="collapse" data-parent="#accordion" aria-labelledby="heading-1">
                  <div class="card-body">
            
                    <div id="accordion-1">
                      <div class="card">
                          <div class="card-header" id="heading-1-1">
                            <h5 class="mb-0">
                              <a class="collapsed1" role="button" data-toggle="collapse" href="#collapse-1-1" aria-expanded="false" aria-controls="collapse-1-1">
                                  Edit name
                              </a>
                            </h5>
                          </div>
                          <div id="collapse-1-1" class="collapse" data-parent="#accordion-1" aria-labelledby="heading-1-1">
                            <div class="card-body">
          
                              <form method="POST">
          
                                  <div class="complete">
                                  <div class="form-group">
                                    <!-- <label for="email">Email Address</label> -->
                                    <input
                                      type="name"
                                      class="form-control"
                                      id="name"
                                      name="name"
                                      placeholder="Enter new name"
                                    />
                                  </div>
                              </div>
                              <!-- </form> -->
                              <button type="submit" class="btn"><b>Change Name</b></button>
          
                            </div>
                          </div>
                        </div>
          
          
                      <div class="card">
                        <div class="card-header" id="heading-1-2">
                          <h5 class="mb-0">
                            <a class="collapsed1" role="button" data-toggle="collapse" href="#collapse-1-2" aria-expanded="false" aria-controls="collapse-1-2">
                              Edit Email
                            </a>
                          </h5>
                        </div>
                        <div id="collapse-1-2" class="collapse" data-parent="#accordion-1" aria-labelledby="heading-1-2">
                          <div class="card-body">
          
                            <form method="POST">
          
                                  <div class="complete">
                                  <div class="form-group">
                                    <!-- <label for="email">Email Address</label> -->
                                    <input
                                      type="email"
                                      class="form-control"
                                      id="email"
                                      name="email"
                                      placeholder="Enter new email"
                                    />
                                  </div>
                              </div>
                              <!-- </form> -->
                              <button type="submit" class="btn"><b>Change Email</b></button>
          
                          </div>
                        </div>
                      </div>
          
                      <div class="card">
                          <div class="card-header" id="heading-1-3">
                            <h5 class="mb-0">
                              <a class="collapsed1" role="button" data-toggle="collapse" href="#collapse-1-3" aria-expanded="false" aria-controls="collapse-1-3">
                               Add Address
                              </a>
                            </h5>
                          </div>
                          <div id="collapse-1-3" class="collapse" data-parent="#accordion-1" aria-labelledby="heading-1-3">
                            <div class="card-body">
                            
                          
                                  <div class="complete">
                                  <div class="form-group">
                                    <!-- <label for="email">Email Address</label> -->
                                    <input
                                      type="address"
                                      class="form-control"
                                      id="address"
                                      name="address"
                                      placeholder="Enter Address"
                                    />
                                  </div>
                              </div>
                              
          
                              <button type="submit" class="btn"><b>Update Address</b></button>
                            </form>
                            </div>
                          </div>
                        </div>
                    </div>      
                  
                  </div>
                </div>
              </div>
          

               
{% block script %}
{% endblock %}

{% endblock %}