{% extends 'base.html' %}

{% block title %} Search {% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/search.css')}}">
<link rel="stylesheet" href="static/css/footer.css">
<link rel="stylesheet" href="static/css/home.css">
{% endblock %}

{% block content %}

<br><br>
<h2>Search results for {{ query }}: </h2>
<br><br>

{% if movies == 0 %}
<h5>Movie not found</h5>

{% else %}

{% for movie in movies %}
{% set id = movie.id %}

<div class="responsive">
    <a  href="/movie/{{id}}">
    <div class="gallery">
        <div class="contain">
        <!-- <img class="cat" src="{{movie.url}}" alt="{{movie.name}}"> -->
        <img class="cat" src="static/images/{{movie.json_data['id']}}.jpg" alt="{{movie.name}}">
      </div>
      <div class="desc" style = "color : white">
        <h6>{{movie.name}}</h6>
      </div>
      </div>
    </a>
    </div>
{% endfor %}
{% endif %}

<!-- <div class="footer-dark">
  <footer>
      <div class="container">
          <div class="row">
              <div class="col-sm-6 col-md-3 item">
                  <h3>Services</h3>
                  <ul>
                      <li><a href="#">Video Buying</a></li>
                      <li><a href="#">Video Renting</a></li>
                      <li><a href="#">Video Streaming</a></li>
                  </ul>
              </div>
              <div class="col-sm-6 col-md-3 item">
                  <h3>About</h3>
                  <ul>
                      <li><a href="#">Company</a></li>
                      <li><a href="#">Team</a></li>
                      <li><a href="#">Careers</a></li>
                  </ul>
              </div>
              <div class="col-md-6 item text">
                  <h3>MovieHub</h3>
                  <p>Founded in 2022 by IIT Kharagpur undergraduates, MovieHub aims at providing a platform for movie lovers to buy and rent latest movies for a very affordable price.Video Straming facilities will also be made available in the next release.</p>
              </div>
              <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
          </div>
          <p class="copyright">MovieHub © 2022</p>
      </div>
  </footer>
</div> -->

{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
{% endblock %}
